# Probability Drill

## Q1. Student grades and absence

Download the dataset from Kaggle: 

https://www.kaggle.com/datasets/uciml/student-alcohol-consumption

Compute the probability that a student obtains 80% or more in mathematics, given he/she misses atleast 10 classes. Do this in Python.

In [3]:
import pandas as pd
import numpy as np
data= pd.read_csv(r"student-mat.csv")
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
len(data)

395

In [8]:
pivot= data.iloc[0:395][['absences','G3']]
pivot.head(10)

   absences  G3
0         6   6
1         4   6
2        10  10
3         2  15
4         4  10
5        10  15
6         0  11
7         6   6
8         0  19
9         0  15

In [9]:
max(data.G3)

20

In [11]:
count= len(pivot[(pivot['absences']>10) & (pivot['G3']>16)])
count

3

In [12]:
count1= len(pivot[pivot['absences']>10])
count1

66

In [15]:
count2= len(pivot[pivot['G3']>16])
count2

24

In [16]:
p_a_int_b= count/395
p_a= count2/395
p_b
.= count1/395

In [21]:
p= p_a_int_b/p_b
p

0.014354066985645932

In [22]:
3/66

0.045454545454545456

## Q2. The birthday problem

Compute the probability of getting a minimum of one overlapping birthday in a random group comprising of 23 persons. 

Because obtaining random samples again and again is a tedious task, we can do simulations on a computer with assumptions:

The birthdays are independent of each other
Each possible birthday has the same probability
There are only 365 possible birthdays (not 366, since we’re ignoring leap years)

Hint# In other words, we’re modeling the process as drawing 23 independent samples from a discrete uniform distribution with parameter n = 365.

In [27]:
from random import randint
num_people= 23
num_possible_birthdays= 365
num_trials= 10000

def generate_random_birthday():
  birthday= randint(1, num_possible_birthdays)
  return birthday

def generate_k_birthdays(k):
  birthdays= [generate_random_birthday() for _ in range(k)]
  return birthdays

def aloc(birthdays):
  unique_birthdays= set(birthdays)

  num_birthdays= len(birthdays)
  num_unique_birthdays= len(unique_birthdays)
  has_coincidence= (num_birthdays != num_unique_birthdays)

  return has_coincidence

def estimate_p_aloc():
  num_aloc= 0
  for _ in range(num_trials):
    birthdays= generate_k_birthdays(num_people)
    has_coincidence= aloc(birthdays)
    if has_coincidence:
      num_aloc += 1
  
  p_aloc= num_aloc/num_trials
  return p_aloc


p_aloc= estimate_p_aloc()
print(f"Estimated p(aloc) after {num_trials} trials: {p_aloc}")

Estimated p(aloc) after 10000 trials: 0.5185

## Q3. Weight of frogs

The weight of a certain species of frog is uniformly distributed between 15 and 25 grams. If you randomly select a frog, what is the probability that the frog weighs between 17 and 19 grams?

In [23]:
from scipy.stats import uniform
weight = uniform.cdf(x=19, loc=15, scale=10) - uniform.cdf(x=17, loc=15, scale=10)
weight

0.2

## Q4. Telecommunication Industry

According to the Telecommunication Industry the average monthly cell phone bill is Rs. 1000 with a standard deviation of Rs. 200.

What is the probability that a randomly selected cell phone bill is more than Rs 1200? What is the probability that a randomly selected cell phone bill is between Rs 750 and Rs 1200? What is the probability that a randomly selected cell phone bill is no more than Rs 650? What is the amount above which lies top 15% of cell phone bills? What is the amount below which lies bottom 25% of cell phone bills?

Note: This is a problem of normal probability distribution. Though the distribution is not mentioned, in absence of any other information we assume normality in the population.

In [28]:
mean= 1000
stddev= 200
from scipy.stats import norm
a= norm.cdf(1200, mean, stddev)
g= 1-a
b= norm.cdf(750, mean, stddev)
a-g
c= norm.ppf(.15, mean, stddev)
d= norm.ppf(.25, mean, stddev)
print(a)
print(b)
print(a-g)
print(c)
print(d)

0.8413447460685429
0.10564977366685535
0.6826894921370859
792.713322101242
865.1020499607837

## Q5. Fruit problem

Suppose we own a fruit shop and on an average 3 customers arrive in the shop every 10 minutes. The mean rate here is 3 or λ = 3. Poisson probability distributions can help us answer questions like what is the probability that 5 customers will arrive in the next 10 mins?

In [29]:
avg= 3
time= 10 #minutes
from scipy.stats import poisson
customers= poisson.cdf(k=5, mu=avg)
customers

0.9160820579686966